# Archivos residuales
*.asv

# Ignora archivos idea
*.idea

# Otros
*.pdf
.vscode/
dev/
*.eps

# SAP2000
*.sdb
*.sbk
*.msh
*.ico
*.Y*
*.K*
*.$*
*.LOG
*.OUT

# Salidas
test/**/**.gif
test/**/**.png
test/personal/*

# Codigo opensees
test/modal/opensees/Data/*.fig
test/modal/opensees/Data/*/*.fig
*.exe