# Archivos residuales
*.asv

# Ignora archivos idea
*.idea

# Otros
*.pdf
.vscode/
dev/

# SAP2000
*.sdb
*.sbk
*.msh
*.ico
*.Y*
*.K*
*.$*
*.LOG
*.OUT

# Salidas
test/**/out/*
test/**/*.gif

# Codigo opensees
test/modal/opensees/Data/*.fig
test/modal/opensees/Data/*/*.fig
*.exe